fastapi
uvicorn[standard]
pydantic>=2
python-multipart
python-dotenv

xgboost
scikit-learn
pandas
numpy
prophet

crewai
litellm
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pymupdf

groq
